body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.card , 
.title {
  font-size: 16px;
}

.content {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}

button , 
.button-container {
  display: block;
  margin: 16px auto;
  text-align: center;
}

.button-container {
  background: #e3f4ff;
}